*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
   font-family: "Inter", serif; ;
}
body{
    width: 100rem;
    height: auto;
    padding: 7.5rem;
    margin: 2.5rem;
}

.flex{
    display: flex;
}



.btn{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2.75rem;
    padding: 10px 24px;
    background-color: #CA3884;
    color: white;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}



